.logo {
  text-align: left;
  margin-top: 20px;
  margin-left: 140px;
  font-size: 10px;
}

.main-nav {
  float: right;
  position: relative;
  bottom: 65px;
  right: 50px;

  a {
    text-decoration: none;
    padding-right: 5px;
    }
}

.subtitle {
  text-align: center;
  align-items: center;
  position: relative;
  top: 220px;
  font-size: 50px;
}