
.home-page {
  width: 100%;
  height: auto;  
  display: flex;
  justify-content: space-between;
  background-image: url('../images/background.png');  

}

.title {
    margin: 20px;
    font-family: $color-two;
}



