.products-title {
  text-align: center;
  letter-spacing: 10px;
  border-bottom: 5px solid $color-one;
  width: 600px;
  position: relative;
  left: 30%;
}
h1 {
  font-size: 50px;
  font-family: $font-four;
  color: $color-one;
}

  
article .product .container {
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: center;
}

article .product .container:nth-of-type(2n) {
   flex-direction: row-reverse;
}
 

article .container {
  padding: 50px;
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: center;

  h3 {
    font-family: $font-four;
    font-weight: 700;
    letter-spacing: 3px;;
  }
}

.image img {
  width: 400px;
  height: 330px;
  box-shadow: 0 0 10px 5px grey;
  margin-left: 30px;
}
