/* Colors */

$color-one: #BEA67C;
$color-two: #FFF;
$color-three: #000;

/* Fonts */

$font-one: 'Source Sans Pro Black', sans-serif;
$font-two: 'Source Sans Pro Semibold', sans-serif;
$font-three: 'Source Sans Pro Semibold Italic' sans-serif;
$font-four: 'Source Sans Pro Bold', sans-serif;
$font-five: 'Source Sans Pro Regular', sans-serif;